<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="d" data-role="header">
        <h3>
            学校百科全书
        </h3>
    </div>
    <div data-role="content">
        <a data-role="button" data-direction="reverse" href="#page1" data-icon="arrow-r"
        data-iconpos="left">
            大学百科全书
        </a>
        <a data-role="button" data-direction="reverse" href="#page1" data-icon="arrow-r"
        data-iconpos="left">
            高中百科全书
        </a>
        <a data-role="button" data-direction="reverse" href="#page1" data-icon="arrow-r"
        data-iconpos="left">
            初中百科全书
        </a>
        <a data-role="button" data-direction="reverse" href="#page1" data-icon="arrow-r"
        data-iconpos="left">
            小学百科全书
        </a>
        <a data-role="button" data-direction="reverse" href="#page1" data-icon="arrow-r"
        data-iconpos="left">
            幼儿园百科全书
        </a>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            学校百科全书 copyright by 李杨
        </h3>
    </div>
</div>
</body>
</html>
