<!doctype html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-role="content">
        <ul data-role="listview" data-divider-theme="d" data-inset="true">
            <li data-role="list-divider" role="heading">
                导航
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    学校排名
                </a>
            </li>
            <li data-theme="c">
                <a href="/search/" data-transition="slide">
                    搜索学校
                </a>
            </li>
            <li data-theme="c">
                <a href="#page1" data-transition="slide">
                    我要问
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
