<!doctype html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>
<div data-role="page" id="page1">
    <div data-theme="d" data-role="header" data-position="fixed">
        <h3>
            学校目录
        </h3>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="searchinput1">
                </label>
                <input name="" id="searchinput1" placeholder="学校名称" value="" type="search">
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="searchinput2">
                </label>
                <input name="" id="searchinput2" placeholder="省" value="" type="search">
            </fieldset>
        </div>
        <a data-role="button" data-inline="true" data-direction="reverse" data-rel="back"
        href="#page1" data-icon="forward" data-iconpos="right">
            确定
        </a>
        <div class="ui-grid-c">
            <div class="ui-block-a">
                学校名称
            </div>
            <div class="ui-block-b">
                所在省
            </div>
            <div class="ui-block-c">
                所在市
            </div>
            <div class="ui-block-d">
                排名
            </div>
            <div class="ui-block-a">
                <a href="javascript:void(0)">大连理工大学</a>
            </div>
            <div class="ui-block-b">
                辽宁
            </div>
            <div class="ui-block-c">
                大连
            </div>
            <div class="ui-block-d">
                21
            </div>
            <div class="ui-block-a">
            </div>
            <div class="ui-block-b">
            </div>
            <div class="ui-block-c">
            </div>
            <div class="ui-block-d">
            </div>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3>
            学校百科全书 copyright by 李杨
        </h3>
    </div>
</div>
</body>
</html>
